In [170]:
#importing all the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler
from imblearn.over_sampling import SMOTE

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

from sklearn.model_selection import GridSearchCV

import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout

In [171]:
import scipy.io

In [172]:
data = pd.read_csv(r"/content/drive/MyDrive/FAOSTAT_data_en_8-25-2023 (1).csv", encoding='latin-1')
data.head()

,Ã¯Â»Â¿Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FO,Forestry Production and Trade,356,India,5516,Production,1627,"Wood fuel, coniferous",1961,1961,m3,4653328.0,I,Imputed value
1,FO,Forestry Production and Trade,356,India,5516,Production,1627,"Wood fuel, coniferous",1962,1962,m3,4753509.0,I,Imputed value
2,FO,Forestry Production and Trade,356,India,5516,Production,1627,"Wood fuel, coniferous",1963,1963,m3,4855781.0,I,Imputed value
3,FO,Forestry Production and Trade,356,India,5516,Production,1627,"Wood fuel, coniferous",1964,1964,m3,4960288.0,I,Imputed value
4,FO,Forestry Production and Trade,356,India,5516,Production,1627,"Wood fuel, coniferous",1965,1965,m3,5066998.0,I,Imputed value

In [173]:
data['Area'].value_counts()

print(data['Item Code'].value_counts() )

1675    305
1683    303
1633    303
1674    303
1640    293
1632    257
1634    249
1671    243
1668    236
1630    229
1669    227
1656    225
1663    217
1676    207
1629    194
1667    193
1650    188
1654    186
1662    185
1604    177
1681    175
1661    161
1660    138
1697    135
1646    135
1649    130
1648    128
1657    128
1651    124
1615    120
1616    120
1620    120
1617    116
1621    116
1619    116
1618    116
1612    110
1601    109
1647    107
1655    105
1670     92
1622     92
1627     81
1628     75
1626     61
1623     61
1606     56
1609     56
1693     38
1608     37
1611     37
1686     25
1685     25
1603     24
1602     21
1625     12
1694     12
1614      6
Name: Item Code, dtype: int64

In [174]:
print(data['Unit'].value_counts())

1000 USD    3071
t           2776
m3          2193
Name: Unit, dtype: int64

In [175]:
print(data['Domain'].value_counts())

Forestry Production and Trade    8040
Name: Domain, dtype: int64

In [176]:
print(data['Item'].value_counts())

Other paper and paperboard                                            305
Other paper and paperboard n.e.s. (not elsewhere specified)           303
Sawnwood, non-coniferous all                                          303
Printing and writing papers                                           303
Plywood                                                               293
Sawnwood, coniferous                                                  257
Veneer sheets                                                         249
Newsprint                                                             243
Pulp from fibres other than wood                                      236
Wood charcoal                                                         229
Recovered paper                                                       227
Chemical wood pulp                                                    225
Chemical wood pulp, sulphate, bleached                                217
Household and sanitary papers                                         207
Wood fuel, all species (export/import, 1961-2016)                     194
Dissolving wood pulp                                                  193
Other fibreboard                                                      188
Mechanical wood pulp                                                  186
Chemical wood pulp, sulphate, unbleached                              185
Sawlogs and veneer logs, non-coniferous                               177
Wrapping and packaging paper and paperboard (1961-1997)               175
Chemical wood pulp, sulphite, bleached                                161
Chemical wood pulp, sulphite, unbleached                              138
Particle board                                                        135
Particle board and OSB (1961-1994)                                    135
Fibreboard, compressed (1961-1994)                                    130
MDF/HDF                                                               128
Industrial roundwood, non-coniferous tropical (export/import)         128
Industrial roundwood, coniferous (export/import)                      124
Printing and writing papers, uncoated, wood free                      120
Printing and writing papers, coated                                   120
Wood residues                                                         120
Case materials                                                        116
Wrapping papers                                                       116
Wood chips and particles                                              116
Cartonboard                                                           116
Printing and writing papers, uncoated, mechanical                     110
Sawlogs and veneer logs, coniferous                                   109
Hardboard                                                             107
Semi-chemical wood pulp                                               105
Industrial roundwood, non-coniferous non-tropical (export/import)      92
Other papers mainly for packaging                                      92
Wood fuel, coniferous                                                  81
Wood fuel, non-coniferous                                              75
Other industrial roundwood, non-coniferous (production)                61
Other industrial roundwood, coniferous (production)                    61
OSB                                                                    56
Recovered fibre pulp                                                   56
Wood pellets                                                           38
Pulpwood and particles, coniferous (production, 1961-1997)             37
Pulpwood and particles, non-coniferous (production, 1961-1997)         37
Chemical wood pulp, sulphite                                           25
Mechanical and semi-chemical wood pulp                                 25
Pulpwood, round and split, non-coniferous (production)                 24
Pulpwood, round and split, coniferous (production)                     21
Other industrial roundwood, all species (export/import, 1961-1989)     12
Wood briquettes and other agglomerates                                 12
Pulpwood, round and split, all species (export/import, 1961-1989)       6
Name: Item, dtype: int64

In [177]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8040 entries, 0 to 8039
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Ã¯Â»Â¿Domain Code  8040 non-null   object
 1   Domain             8040 non-null   object
 2   Area Code (M49)    8040 non-null   int64
 3   Area               8040 non-null   object
 4   Element Code       8040 non-null   int64
 5   Element            8040 non-null   object
 6   Item Code          8040 non-null   int64
 7   Item               8040 non-null   object
 8   Year Code          8040 non-null   int64
 9   Year               8040 non-null   int64
 10  Unit               8040 non-null   object
 11  Value              8040 non-null   float64
 12  Flag               8040 non-null   object
 13  Flag Description   8040 non-null   object
dtypes: float64(1), int64(5), object(8)
memory usage: 879.5+ KB

In [178]:
data.describe()

,Area Code (M49),Element Code,Item Code,Year Code,Year,Value
count,8040.0,8040.000000,8040.000000,8040.000000,8040.000000,8.040000e+03
mean,356.0,5694.416667,1648.303109,1996.653483,1996.653483,2.454434e+06
std,0.0,165.220354,24.099780,17.066332,17.066332,2.206713e+07
min,356.0,5510.000000,1601.000000,1961.000000,1961.000000,0.000000e+00
25%,356.0,5610.000000,1629.000000,1983.000000,1983.000000,1.089750e+03
50%,356.0,5622.000000,1650.000000,2000.000000,2000.000000,1.143850e+04
75%,356.0,5910.000000,1669.000000,2011.000000,2011.000000,1.467958e+05
max,356.0,5922.000000,1697.000000,2021.000000,2021.000000,3.000049e+08

In [179]:
data.shape

(8040, 14)

In [180]:
data.isnull().sum()

Ã¯Â»Â¿Domain Code    0
Domain               0
Area Code (M49)      0
Area                 0
Element Code         0
Element              0
Item Code            0
Item                 0
Year Code            0
Year                 0
Unit                 0
Value                0
Flag                 0
Flag Description     0
dtype: int64

In [181]:
(data.corr()*100).style.background_gradient('coolwarm')

<ipython-input-181-8a751c342e4c>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  (data.corr()*100).style.background_gradient('coolwarm')
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/style.py:3931: RuntimeWarning: All-NaN slice encountered
  smin = np.nanmin(gmap) if vmin is None else vmin
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/style.py:3932: RuntimeWarning: All-NaN slice encountered
  smax = np.nanmax(gmap) if vmax is None else vmax

In [182]:
data.duplicated().sum()

0

In [183]:
list(data.columns.values)

['Ã¯Â»Â¿Domain Code',
 'Domain',
 'Area Code (M49)',
 'Area',
 'Element Code',
 'Element',
 'Item Code',
 'Item',
 'Year Code',
 'Year',
 'Unit',
 'Value',
 'Flag',
 'Flag Description']

In [184]:
 data.drop(columns = ['Ã¯Â»Â¿Domain Code',
                          'Flag Description',
                          'Flag',
                          'Element Code',
                          'Item Code',
                          'Year Code',
                          'Area Code (M49)' ],
                           axis = 1 ,inplace = True)

In [185]:
data.drop(columns =  ['Area'] ,axis = 1 ,inplace = True)

In [186]:
data.drop(columns =  ['Domain'] ,axis= 1 ,inplace = True)

In [187]:
# df.info()

In [188]:
(data.corr()*100).style.background_gradient('coolwarm')

<ipython-input-188-8a751c342e4c>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  (data.corr()*100).style.background_gradient('coolwarm')

In [189]:
data.head()

      Element                   Item  Year Unit      Value
0  Production  Wood fuel, coniferous  1961   m3  4653328.0
1  Production  Wood fuel, coniferous  1962   m3  4753509.0
2  Production  Wood fuel, coniferous  1963   m3  4855781.0
3  Production  Wood fuel, coniferous  1964   m3  4960288.0
4  Production  Wood fuel, coniferous  1965   m3  5066998.0

In [190]:
data['Element'].value_counts()

Production         1915
Import Value       1700
Import Quantity    1691
Export Value       1371
Export Quantity    1363
Name: Element, dtype: int64

In [191]:
value = {'1000 USD':0 ,'t':1 ,'m3' :2}
data['Unit']=data['Unit'].map(value)

In [192]:
# from sklearn.preprocessing import LabelEncoder

# # Example categorical data
# categories = ['Production','Import Value','Import Quantity','Export Value','Export Quantity']

# # Initialize the LabelEncoder
# encoder = LabelEncoder()

# # Fit and transform the data
# encoded_labels = encoder.fit_transform(categories)

# # Print the encoded labels
# print(encoded_labels)

In [193]:
from sklearn.preprocessing import StandardScaler, LabelEncoder
cropname_label_encoder = LabelEncoder()
data["Element"] = cropname_label_encoder.fit_transform(data["Element"])

In [194]:
element_dict = {}
for i in range(len(data["Element"].unique())):
    element_dict[i] = cropname_label_encoder.inverse_transform([i])[0]
print(element_dict)

{0: 'Export Quantity', 1: 'Export Value', 2: 'Import Quantity', 3: 'Import Value', 4: 'Production'}

In [195]:
from sklearn.preprocessing import StandardScaler, LabelEncoder
cropname_label_encoder = LabelEncoder()
data["Item"] = cropname_label_encoder.fit_transform(data["Item"])

In [196]:
cropname_dict = {}
for i in range(len(data["Item"].unique())):
    cropname_dict[i] = cropname_label_encoder.inverse_transform([i])[0]
print(cropname_dict)

{0: 'Cartonboard', 1: 'Case materials', 2: 'Chemical wood pulp', 3: 'Chemical wood pulp, sulphate, bleached', 4: 'Chemical wood pulp, sulphate, unbleached', 5: 'Chemical wood pulp, sulphite', 6: 'Chemical wood pulp, sulphite, bleached', 7: 'Chemical wood pulp, sulphite, unbleached', 8: 'Dissolving wood pulp', 9: 'Fibreboard, compressed (1961-1994)', 10: 'Hardboard', 11: 'Household and sanitary papers', 12: 'Industrial roundwood, coniferous (export/import)', 13: 'Industrial roundwood, non-coniferous non-tropical (export/import)', 14: 'Industrial roundwood, non-coniferous tropical (export/import)', 15: 'MDF/HDF', 16: 'Mechanical and semi-chemical wood pulp', 17: 'Mechanical wood pulp', 18: 'Newsprint', 19: 'OSB', 20: 'Other fibreboard', 21: 'Other industrial roundwood, all species (export/import, 1961-1989)', 22: 'Other industrial roundwood, coniferous (production)', 23: 'Other industrial roundwood, non-coniferous (production)', 24: 'Other paper and paperboard', 25: 'Other paper and paperboard n.e.s. (not elsewhere specified)', 26: 'Other papers mainly for packaging', 27: 'Particle board', 28: 'Particle board and OSB (1961-1994)', 29: 'Plywood', 30: 'Printing and writing papers', 31: 'Printing and writing papers, coated', 32: 'Printing and writing papers, uncoated, mechanical', 33: 'Printing and writing papers, uncoated, wood free', 34: 'Pulp from fibres other than wood', 35: 'Pulpwood and particles, coniferous (production, 1961-1997)', 36: 'Pulpwood and particles, non-coniferous (production, 1961-1997)', 37: 'Pulpwood, round and split, all species (export/import, 1961-1989)', 38: 'Pulpwood, round and split, coniferous (production)', 39: 'Pulpwood, round and split, non-coniferous (production)', 40: 'Recovered fibre pulp', 41: 'Recovered paper', 42: 'Sawlogs and veneer logs, coniferous', 43: 'Sawlogs and veneer logs, non-coniferous', 44: 'Sawnwood, coniferous', 45: 'Sawnwood, non-coniferous all', 46: 'Semi-chemical wood pulp', 47: 'Veneer sheets', 48: 'Wood briquettes and other agglomerates', 49: 'Wood charcoal', 50: 'Wood chips and particles', 51: 'Wood fuel, all species (export/import, 1961-2016)', 52: 'Wood fuel, coniferous', 53: 'Wood fuel, non-coniferous', 54: 'Wood pellets', 55: 'Wood residues', 56: 'Wrapping and packaging paper and paperboard (1961-1997)', 57: 'Wrapping papers'}

In [197]:
X = data.iloc[:,:-1]
y = data.iloc[:,-1]

In [198]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=200)
print('Shape of Training set',X_train.shape)
print('Shape of testing set',X_test.shape)
print('Testing set shape',y_train.shape)
print('Testing set shape',y_test.shape)

Shape of Training set (6432, 4)
Shape of testing set (1608, 4)
Testing set shape (6432,)
Testing set shape (1608,)

In [200]:
data.head()

   Element  Item  Year  Unit      Value
0        4    52  1961     2  4653328.0
1        4    52  1962     2  4753509.0
2        4    52  1963     2  4855781.0
3        4    52  1964     2  4960288.0
4        4    52  1965     2  5066998.0

In [204]:
from sklearn.ensemble import RandomForestRegressor

In [207]:
clf1=RandomForestRegressor(n_estimators=100)
clf1.fit(X_train,y_train)

RandomForestRegressor()

In [209]:
pred=clf1.predict(X_test)

In [210]:
clf1.score(X_test ,y_test)

0.9996719618009356

In [211]:
import pickle
with open ("crop_trading.pkl",'wb') as files:
  pickle.dump(clf1,files)